*{ direction: rtl }

.search {
	width: 100%;
	text-align: center;
	margin: auto auto;
	display: block;
	height: 100%;
	margin-top: 8%;
}

small {
	width: 26% !important;
	display: block;
	text-align: center;
    direction: rtl;
    margin: 0 auto;
    font-size: 12px
}

.fpass {
	margin-top: 25px;
	font-size: 12px;
	
}